[Desktop Entry]
Version=1.0
Type=Application
Name=AbrirsoloDstar
Comment=
Exec=sh -c "cd /home/pi/V106/; lxterminal --geometry=77x18 -e sudo sh ejecutar_solodstar.sh"
Icon=/home/pi/V106/SOLO_D-STAR.png
Path=/home/pi/V106
Terminal=false
StartupNotify=false
Name[es_ES]=Abrir solo DSTAR
 